.articles-survey {
    &__bg {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-image: url("../images/hash-001.jpg");

        &:after {
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            width: 100%;
            height: 100%;
            opacity: 0.5;
            background-color: #235091;
        }
    }

    &__wrapper {
        display: flex;
        min-height: 100%;
        align-items: flex-end;

        @media(max-width: 960px) {
            min-height: 240px;
        }
    }

    &__inner {
        position: relative;
        z-index: 2;
    }

    &__title {
        font-family: "Raleway";
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 120%;
        // text-transform: uppercase;
        color: #fff;

        @media(max-width: 960px) {
            font-size: 24px;
        }
    }

    &__align {
        text-align: left;
        width: 100%;
        padding-top: 20px;
    }

    &__link {
        font-family: "Raleway";
        display: inline-block;
        border-radius: 40px;
        text-decoration: none;
        color: #fff;
        font-weight: 500;
        padding: 24px 60px;
        background-color: #ea7327;
        // text-transform: uppercase;
        transition: 0.2s;

        @media(max-width: 960px) {
            padding: 20px 60px;
            font-size: 16px;
        }

        @media(max-width: 768px) {
            width: 100%;
            text-align: center;
        }

        &:hover {
            background-color: #f9843c;
        }

        &:active {
            background-color: #bf5817;
        }
    }
}
