.survey {
    padding-top: 40px;
    color: #363e43;
    font-family: "Raleway";
    font-style: normal;

    $active: #ea7327;

    &__info-title,
    &__result-info {
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.245em;
        text-transform: uppercase;
        margin-bottom: 32px;

        @media (max-width: 768px) {
            font-size: 18px;
        }
    }

    &__result-info {
        margin-bottom: 26px;
    }

    &__info-text {
        font-weight: 500;
        font-size: 32px;
        line-height: 112%;
        margin-bottom: 52px;

        @media (max-width: 960px) {
            font-size: 28px;
            margin-bottom: 32px;
        }

        @media (max-width: 768px) {
            font-size: 22px;
        }
    }

    &__progress {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 52px;

        @media (max-width: 960px) {
            margin-bottom: 30px;
        }
    }

    &__progress-item {
        position: relative;
        min-width: 40px;
        max-width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        margin: 0 4px 6px;
        font-family: "Mulish";
        font-size: 20px;

        span {
            color: #363e43;
            position: relative;
            z-index: 2;
        }

        &:before {
            transition: 0.2s;
            border-radius: 50%;
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #f7f8fa;
        }

        &.closed {
            span {
                color: #fff;
            }

            &:before {
                background-color: #235091;
            }
        }

        &.active {
            span {
                color: #fff;
            }

            &:before {
                background-color: $active;
            }
        }
    }

    &__form {
        display: none;
        padding: 90px 60px;
        border-radius: 60px;
        background-image: url("../images/survey-bg.jpg");

        &.active {
            display: block;
        }

        @media (max-width: 960px) {
            padding: 30px 20px;
            border-radius: 20px;
        }
    }

    &__form-title {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: $active;
        margin-bottom: 32px;

        @media (max-width: 960px) {
            margin-bottom: 16px;
            font-size: 20px;
        }
    }

    &__form-desc {
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 120%;
        margin-bottom: 42px;

        @media (max-width: 960px) {
            margin-bottom: 20px;
        }
    }

    &__form-enter {
        background-color: #fff;
        border-radius: 20px;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 62px;

        @media (max-width: 960px) {
            flex-direction: column;
            margin-bottom: 32px;
        }
    }

    &__checkbox {
        @media (max-width: 960px) {
            margin-bottom: 12px;
        }
    }

    &__align {
        text-align: right;
    }

    &__btn {
        padding: 26px 92px;
        border-radius: 60px;
        color: #ffff;
        background-color: #235091;
        font-family: "Raleway";
        font-style: normal;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        transition: 0.2s;

        &.disabled {
            cursor: inherit;
            background-color: #6b9ce0;

            &:hover,
            &:active {
                background-color: #6b9ce0;
            }
        }

        &:hover {
            background-color: #1f59aa;
        }

        &:active {
            background-color: #12376c;
        }

        @media (max-width: 960px) {
            width: 100%;
        }
    }

    &__result {
        display: none;

        &.active {
            display: block;
        }
    }

    &__success {
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        padding: 40px 0;

        @media (max-width: 960px) {
            padding: 20px 0;
        }
    }

    &__result-count {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 120px;
        line-height: 120%;
        color: $active;
        margin-bottom: 20px;

        @media (max-width: 960px) {
            font-size: 40px;
        }

        &-text {
            display: inline-block;
        }
    }

    &__result-desc {
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 150%;

        @media (max-width: 960px) {
            font-size: 22px;
        }
    }

    &__title {
        position: relative;
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        color: #363e43;
        margin-bottom: 52px;
        padding-right: 300px;

        @media (max-width: 960px) {
            padding-right: 160px;
            font-size: 38px;
            margin-bottom: 32px;
        }

        @media (max-width: 768px) {
            font-size: 32px;
        }

        &:after {
            content: "";
            width: 304px;
            height: 62px;
            position: absolute;
            top: 0;
            right: 0;
            background-size: contain;
            background-position: center right;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='304' height='62' fill='none' viewBox='0 0 304 62'%3e%3cg clip-path='url(%23a)'%3e%3cpath fill='%23FF5100' d='m179.276 46.977-6.008-35.531h-10.814v50.077h6.729v-35.53l6.008 35.53h7.45l5.527-36.008v36.008h7.45V11.446h-11.055l-5.287 35.53Zm30.039-35.531-8.17 49.839h7.209l1.442-9.062h9.613l1.441 9.062h7.931l-7.69-49.839h-11.776Zm1.683 34.1 3.845-25.277 3.845 25.277h-7.69Zm42.055-34.1-10.333 21.7v-21.7h-7.931v50.077h7.931v-15.5l2.403-4.53 7.93 20.03h7.931l-10.815-27.9 10.815-22.177h-7.931Zm36.768 16.931v-4.77c0-8.107-4.085-12.638-11.775-12.638s-11.775 4.531-11.775 12.639V49.6c0 7.87 4.085 12.639 11.775 12.639s11.775-4.531 11.775-12.639v-6.677h-7.449v7.154c0 3.577-1.683 4.77-4.086 4.77-2.403 0-4.085-1.193-4.085-4.77V22.892c0-3.577 1.682-5.007 4.085-5.007s4.086 1.43 4.086 5.007v5.247h7.449v.238ZM304 12.639c0 3.338-2.643 5.961-6.008 5.961-3.364 0-6.248-2.623-6.248-5.962 0-3.338 2.644-5.961 6.248-5.961 3.365 0 6.008 2.623 6.008 5.962Zm-10.814 0c0 2.623 1.923 4.769 4.566 4.769 2.644 0 4.566-2.146 4.566-4.77 0-2.623-1.922-4.769-4.566-4.769-2.643 0-4.566 2.146-4.566 4.77Zm3.845 3.1h-1.442V9.777c.481 0 1.202-.238 2.403-.238 1.202 0 1.683.238 2.163.476.241.239.481.716.481 1.193 0 .715-.481 1.192-1.202 1.43.481.239.962.716 1.202 1.431.24.954.24 1.193.48 1.431h-1.441c-.241-.238-.241-.715-.481-1.43 0-.716-.481-.954-1.202-.954h-.721v2.623h-.24Zm0-3.339h.721c.721 0 1.442-.238 1.442-.954 0-.477-.481-.954-1.202-.954h-.721V12.4h-.24Z'/%3e%3cpath fill='%2300205C' d='M25.714 46.261c0 5.247-.961 9.3-3.124 11.685-2.163 2.385-5.287 3.577-9.853 3.577H0V11.446h23.551V18.6H7.931V31h4.806c4.566 0 7.93 1.192 9.853 3.577 2.163 2.623 3.124 6.438 3.124 11.684Zm-9.132 6.2c.72-1.43 1.201-3.338 1.201-6.2 0-2.623-.48-4.769-1.201-6.2-.721-1.192-2.163-1.907-4.086-1.907H7.93v16.215h4.566c1.923 0 3.365-.715 4.086-1.908Zm41.814-25.753c0 5.246-.96 9.061-3.124 11.446-2.163 2.384-5.287 3.577-9.853 3.577h-4.806v19.554h-7.93V11.208h12.736c4.566 0 7.93 1.192 9.853 3.577 2.163 2.623 3.124 6.438 3.124 11.923Zm-9.132 5.961c.721-1.43 1.202-3.338 1.202-6.2 0-2.623-.48-4.769-1.202-6.2-.72-1.43-2.162-2.146-4.085-2.146h-4.566V34.34h4.566c1.923.477 3.364-.239 4.085-1.67Zm36.77 28.854H64.886V11.446h21.148v6.915H72.816V32.67h11.535v7.154H72.816V54.37h13.218v7.154Zm13.937 0h-6.969V11.446h7.93v30.762l11.295-30.762h7.21v50.077h-7.931V30.761L99.971 61.523ZM115.351 0c-.24 5.485-3.124 8.108-9.132 8.108-5.767 0-8.891-2.623-9.132-8.108h5.287c.241 2.146 1.442 3.338 3.845 3.338 2.404 0 3.605-1.192 3.845-3.338h5.287Zm38.211 61.523h-7.93V39.584h-9.853v21.939h-7.93V11.446h7.93v20.985h9.853V11.446h7.93v50.077Z'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='a'%3e%3cpath fill='%23fff' d='M0 0h304v62H0z'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");

            @media (max-width: 960px) {
                width: 140px;
                height: 62px;
            }
        }
    }

    &__form-input {
        position: relative;
        display: none;

        & ~ label {
            user-select: none;
            cursor: pointer;
            position: relative;
            margin-left: 40px;
            font-weight: 900;
            font-size: 28px;
            line-height: 38px;
            color: #235091;
            transition: 0.2s;

            @media (max-width: 960px) {
                font-weight: 700;
            }

            &:hover {
                color: #1151ab;
                text-decoration: underline;
            }

            &:before {
                position: absolute;
                top: 4px;
                left: -40px;
                content: "";
                display: block;
                width: 26px;
                height: 26px;
                border-radius: 50%;
                border: 3px solid gray;
            }
        }

        &:checked ~ label {
            color: $active;

            &:before {
                background-position: 50% 50%;
                background-size: 50% 50%;
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' fill='none' viewBox='0 0 15 15'%3e%3ccircle cx='7.5' cy='7.5' r='7.5' fill='%23EA7327' transform='matrix(-1 0 0 1 15 0)'/%3e%3c/svg%3e");
                border: 3px solid $active;
            }
        }
    }
}
